@import "tailwindcss";

@theme {
  --color-background: #080517;
  --color-foreground: #ffffff;
  --color-muted: #1e293b;
  --color-muted-foreground: #94a3b8;
  --color-border: #1e293b;
  --color-primary: #a855f7;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 8, 5, 23;
  --background-end-rgb: 8, 5, 23;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
}